{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block menubar %}
  <li class="nav"><a class="nav" href="/">Home</a></li>
  <li class="nav"><a class="nav" href="/divisions/home">Divisions</a></li>
  <li class="nav"><a class="nav" href="/fixtures/home">Fixtures</a></li>
  <li class="nav"><a class="nav" href="/clubs/home">Clubs</a></li>
  <li class="nav"><a class="nav" href="/teams/home">Teams</a></li>
  <li class="nav"><a class="nav" href="/venues/home">Venues</a></li>
  <li class="nav"><a class="nav active" href="/clubadmin">Club Admin</a></li>
  <li class="nav"><a class="nav" href="/login">Login</a></li>
{% endblock menubar %}

{% block content %}

<h2>Password Change</h2>

<p>Please enter your existing password followed by a new password and then repeat the new password for confirmation.</p>

<form method="post" action="{% url 'change-password' %}">
    <table style="text-align:left;vertical-align:top;">
        <tr><th>Old Password</th><td>{{ form.old_password }}</td><td>{{ field.errors }}</td></tr>
        <tr><th>New Password</th><td>{{ form.new_password1 }}</td><td>{{ field.errors }}</td></tr>
        <tr><th>Confirm New Password</th><td>{{ form.new_password2 }}</td><td>{{ field.errors }}</td></tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Change"></td>
        </tr>
    </table>
<input type="hidden" name="next" value="{{ next }}" />
{% csrf_token %}
</form>

{% endblock content %}
