{% extends "base.html" %}

{% block title %}Admin{% endblock title %}

{% block content %}

{% if status == "nouser" %}

    <p>Please login to view this page.</p>

{% elif status == "leagueAdmin" %}

    <h1>League Admin Options</h1>

    <h2>Nomination Window</h2>
    <p>Check or uncheck the box below and click save to toggle the nomination window prior to the season starting.</p>
    <form action="/clubadmin/league/noms" method="post">
    {% csrf_token %}
    <label>
        <input type="checkbox" 
               name="nomination_window_open" 
               {% if settings.nomination_window_open %}checked{% endif %}>
        Nomination Window Open
    </label>    
    {% if request.GET.noms_updated == "true" %}
      <p style="color:red;">Setting updated!</p>
    {% else %}
      <br><br>
    {% endif %}
    <button class="buttongreen" type="submit">Save</button>
    </form>

    <br>
    <h2>Penalties for current season</h2>
    <br>
    <table id="table" class="table">
      <tr><th>Team</th><th>Penalty Type</th><th>Player Name</th><th>Fixture</th><th>Remove</th></tr>
      {% for penalty in penalties %}
        <tr>
            <td>{{ penalty.team }}</td><td>{{ penalty.penalty_type }}</td><td>{{ penalty.player }}</td><td>{{ penalty.fixture }}</td>
            <td><form action="/leagueadmin/delpen{{ penalty.id }}" method="post">
                {% csrf_token %}
                <input class="buttonred" type="submit" value="Remove Penalty">
            </form></td>
        </tr>
      {% endfor %}
    </table>
    
    <br>
    <h2>League Contacts</h2>
    <ul>
        {% for contact, email in club_contacts.items %}
            <li>{{ contact }} - {{ email }}</li>
        {% endfor %}
    </ul>

<!--
    <p>To send an email to all club contacts, complete the form below below and click "Send Email".</p>
    <p>Your message should at least be entered into the "Body" field; you can also enter HTML-formatted text into the "HTML" field but this is optional.</p>
    <p>You can also choose the "Reply To" address. All emails will be sent from the website email address but if you select a different "Reply To" address,
    when somebody replies to the email it will go to that address rather than the website email address.</p>
    <form method="post" action="/leagueadmin/massemail">
    {% csrf_token %}
    {{ email_form.as_p }}
    <button type="Send Email">Send Email</button>
    </form>
-->

    <h2>Nominations</h2>
    <h3>Teams which require nominations</h3>
    <table id="table" class="table">
      <tr><th>Team</th><th>Num of Nominations</th><th>Status</th></tr>
      {% for team in nom_teams %}
      <tr><td>{{ team.0 }}</td><td>{{ team.0.count_nominations }}{% if team.0.type == "Mixed" %}/6{% else %}/4{% endif %}</td><td>{{ team.1 }}</td></tr>
      {% endfor %}
    </table>

{% elif status == "penaltydeleted" %}

    <p>Penalty removed</p>

{% endif %}

{% endblock content %}
