{% extends "base.html" %}

{% block title %}Admin{% endblock title %}

{% block content %}

    <h1>Team Nominations</h1>

    {% if view == 'teamupdate' %}

      <p>Below is the list of teams your club has confirmed for the upcoming season.</p>
      <p>Please select the players you want to nominate for each team and click "Save Nominations" to update the nominations.</p>
      <p>If any players are not present in the dropdown, please add them on the <a href="/clubadmin">Club Admin</a> page.</p>
      <p>NOTE: each button will ONLY save the nominations for the team whose section is it in.</p>
      <p>You can return to this page at any time and adjust your nominations up until the closing date of TBC</p>

      {% for team_list in forms %}
        <h3>{{ team_list.0 }}</h3>
        <form action="{% url 'nominations' team_list.0.id %}" method="post">
            {% csrf_token %}
            
            {% if team_list.0.type == 'Mixed' %}
                <h3>Women</h3>
                {{ team_list.1.management_form }}
                {% for form in team_list.1 %}
                    {{ form.as_p }}
                {% endfor %}
                
                <h3>Men</h3>
                {{ team_list.2.management_form }}
                {% for form in team_list.2 %}
                    {{ form.as_p }}
                {% endfor %}
            {% else %}
                {{ team_list.1.management_form }}
                {% for form in team_list.1 %}
                    {{ form.as_p }}
                {% endfor %}
            {% endif %}
            <button class="buttongreen" type="submit">Save {{ team_list.0 }} Nominations</button>
        </form>
      {% endfor %}
    
    {% elif view == 'indiupdate' %}

      <p>You have requested a change in the nomination of <b>{{ current_nom.player }}</b> for <b>{{ current_nom.team }}</b>.</p>
      <p>Please select the player you would like to replace them with and the reason for the change:</p>
      <br>
      <form method="post">
        {% csrf_token %}
        <table>
        {% for field in playerselectform %}
          <tr><td>{{ field.label_tag }}</td><td>{{ field }}</td></tr>
        {% endfor %}
        </table>
        <button class="button" type="submit">Submit</button>
      </form>

    {% else %}

        <p>Nominations are not currently available.</p>  

    {% endif %}

{% endblock content %}
